.dx-dashboard-custom-panel-extension .dx-popup-content {
    padding: 0px;
}

.dx-dashboard-custom-panel-extension.dx-dashboard-card-view-panel .dx-popup-title {
    border-bottom: 0;
}

.dx-dashboard-custom-panel-extension .dx-popup-title .dx-toolbar-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.dx-dashboard-custom-panel-extension .dx-overlay-content {
    box-shadow: none;
    border-radius: 0;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-title-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list {
    margin: 0;
    padding: 0;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list-full {
    bottom: 0;
} 

.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list-clipped {
    height: calc(100% - 110px);
}      

.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item-content {
    padding-left: 20px;
    font-size: 12px;
    cursor: pointer;
}

.dx-dashboard-custom-panel-extension .dx-popup-title.dx-toolbar {
    padding-left: 20px;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0px;
    margin: 0;
    text-align: center;
    font-size: 12pt;
    border-radius: 0;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button svg {
    width: 32px;
    height: 32px;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button svg .editDashboardIcon {
    fill: currentColor;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button .designer-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button .designer-button-content > div {
    line-height: initial;
    display: inline-table;
}


.dx-dashboard-custom-panel-extension .dx-dashboard-hidden {
    display: none;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-preview.dx-dashboard-minimized {
    height: 50px;
    justify-content: center;
}

.dx-dashboard-toolbox-extension {
    transition: left 500ms ease;
}

.dx-dashboard-toolbar .dx-dashboard-viewer-button .dx-button-content {
    padding: 0;
}

.dx-dashboard-toolbar .dx-dashboard-viewer-button .dx-button-text {
    font-size: 10pt;
    letter-spacing: normal;
    text-transform: uppercase;
}

.dx-dashboard-toolbar .dx-dashboard-viewer-button {
    width: 80px;
    height: 50px;
    border-radius: 0;
}


.dx-dashboard-image-container {
    display: flex;
    height: 150px;
    border-radius: 3px;
    margin: 10px 10px 0 10px;
}

.dx-dashboard-image {
    width: 100%;
}

.dx-dashboard-card-view-panel {
    z-index: 1500;
}
/*
.dx-color-scheme-dark .dx-dashboard-card-view-panel .dx-overlay-content {
    background-color: #E5E5E5;
}*/

.dx-dashboard-card-view-panel .dx-overlay-content {
    background-color: #E5E5E5;
}

.dx-dashboard-card-view-panel .dx-dashboard-title-panel {
    border: none;
}

.dx-dashboard-card-view-panel .dx-list-item {
    border: none;
}

.dx-dashboard-card-view-panel .dx-dashboard-dashboard-list {
    position: absolute;
    top: 50px;
    width: 100%;
    height: initial;
}

.dx-dashboard-card-view-panel .dx-dashboard-dashboard-list .dx-scrollview-content {
    padding-left: 12px;
    padding-right: 12px;
}

.dx-dashboard-card-view-panel .dx-dashboard-dashboard-list .dx-list-item-selected .dx-dashboard-card-view {
    border: solid 3px #7B7B7B;
}
/*
.dx-color-scheme-dark  .dx-dashboard-card-view-panel .dx-dashboard-dashboard-list .dx-list-item-selected .dx-dashboard-card-view {
    border: solid 3px #7B7B7B;
}*/

.dx-dashboard-card-view-panel .dx-dashboard-dashboard-list .dx-list-item {
    margin-top: 6px;
    margin-bottom: 6px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.dx-dashboard-card-view-panel .dx-dashboard-dashboard-list .dx-list-item-content {
    padding: 0;
    text-align: initial;
    position: relative;
    overflow: hidden;
}

.dx-dashboard-card-view-panel .dx-list-item .dx-list-item-content:before {
    content: ''
}

.dx-dashboard-card-view-panel .dx-dashboard-card-view, .dx-dashboard-card-view-panel .dx-dashboard-preview {
    width: 100%;
    height: 200px;
    display: flex;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: none;
    background-color: #FFFFFF;
}
/*
.dx-color-scheme-dark .dx-dashboard-card-view-panel .dx-dashboard-card-view,
.dx-color-scheme-dark .dx-dashboard-card-view-panel .dx-dashboard-preview {
    background-color: #363636;
}
*/
.dx-dashboard-card-view-panel .dx-dashboard-card-view {
    align-items: center;
    justify-content: center;
}

.dx-dashboard-card-view-panel .dx-dashboard-preview {
    flex-direction: column;
}

.dx-dashboard-card-view-panel .dx-list-search {
    margin: 0px 12px 12px 12px;
    height: 40px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: none;
}

.dx-dashboard-card-view-panel .dx-list.dx-list-with-search .dx-scrollable-wrapper {
    height: calc(100% - 48px);
}

.dx-dashboard-card-view-panel .dx-popup-title .dx-toolbar-label {
    text-transform: none;
    font-size: 18px;
}

.dx-dashboard-card-name {
    align-self: center;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
}

.dx-dashboard-name-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dx-dashboard-name {
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
}

.dx-dashboard-card-view-panel .dx-searchbox .dx-icon-search:before {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}